---
import ProjectCard from "./ProjectCard.astro";
---

<div>
    <p>Project Section</p>
    <ProjectCard title="Project1" text="bfwfbfbewiufbgwiufewgfiewgfweiufgeoifgeofgeugfwoigfe"/>
    <ProjectCard title="Project2" text="bfwfbfbewiufbgwiufewgfiewgfweiufgeoifgeofgeugfwoigfe"/>
    <ProjectCard title="Project3" text="bfwfbfbewiufbgwiufewgfiewgfweiufgeoifgeofgeugfwoigfe"/>
</div>