---
import SkillCard from "./SkillCard.astro";
---

<div>
    <p>Skill Section</p>
    <SkillCard title="Skill1" text="knwbnflkjenflkewjbfewlkjfbewkfbewlkjfbewkjfbewkjbfkjewbfk"/>
    <SkillCard title="Skill2" text="knwbnflkjenflkewjbfewlkjfbewkfbewlkjfbewkjfbewkjbfkjewbfk"/>
    <SkillCard title="Skill3" text="knwbnflkjenflkewjbfewlkjfbewkfbewlkjfbewkjfbewkjbfkjewbfk"/>
</div>